version: "3.8"
services:
  db:
    build: ./db
    image: 499340242396.dkr.ecr.ap-northeast-2.amazonaws.com/compose-db
    # volumes:
    #   - "./postgresql/data:/var/lib/postgresql/data" # 도커 컨테이너가 종료되면 데이터베이스도 사라져 버린다. 컨테이너가 종료돼도 데이터를 보존하기 위해 postgresql/data 폴더에 데이터베이스 데이터들을 저장한다.
    environment:
      POSTGRES_USER: "${DB_USER}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
      POSTGRES_DB: "${DB_NAME}"
    ports:
      - "5432:5432"
  node:
    build: ./mlopsapi
    image: 499340242396.dkr.ecr.ap-northeast-2.amazonaws.com/compose-express
    environment:
      DB_PORT: "${DB_PORT}"
      DB_USER: "${DB_USER}"
      DB_HOST: "${DB_HOST}"
      DB_NAME: "${DB_NAME}"
      DB_PASSWORD: "${DB_PASSWORD}"
    ports:
      - "3000:3000"
    depends_on:
      - db
    command: bash -c 'while !</dev/tcp/db/5432; do sleep 1; done; npm start'
    restart: on-failure
